#footer {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  background: #000;
  color: #c3c3c3;
  border: 1px solid #000;
  clear: both; }
  #footer ul {
    padding: 10px; }
    #footer ul li {
      font-weight: bold;
      display: inline;
      padding: 0 20px;
      border-left: 1px solid #ffe131; }
      #footer ul li.first {
        border: 0 !important; }
      #footer ul li a {
        font-size: 11px;
        color: #c3c3c3;
        text-decoration: none; }
