#menu {
  width: 100%;
  border: 0;
  padding: 0;
  background: url(../../images/mastermover/nav-bg.jpg) repeat-x;
  height: 30px; }
  #menu h2 a, #menu a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    display: block;
    padding: 7px 14px;
    text-decoration: none;
    border: 1px solid;
    border-color: transparent #222222 transparent #777777; }
    #menu h2 a:hover, #menu a:hover {
      background: #000;
      border-right: 1px solid #222;
      border-left: 1px solid #777;
      text-decoration: underline; }
  #menu ul {
    padding-left: 25px;
    list-style: none;
    margin: 0;
    float: left; }
    #menu ul li:hover ul {
      display: block; }
      #menu ul li:hover ul ul {
        display: none; }
    #menu ul ul {
      display: none;
      position: absolute;
      z-index: 500;
      background: #fff;
      color: #000;
      padding: 5px;
      border: 1px solid #000; }
      #menu ul ul li {
        background: #FFE131;
        width: 200px; }
        #menu ul ul li:hover ul {
          display: block; }
        #menu ul ul li a {
          color: #000;
          display: block;
          padding: 3px 5px; }
          #menu ul ul li a:hover {
            background: #FCE977;
            color: #000; }
        #menu ul ul li ul {
          display: none; }
      #menu ul ul ul {
        position: absolute;
        top: -6px;
        left: 199px; }
        #menu ul ul ul li {
          width: 250px; }
          #menu ul ul ul li:hover ul {
            display: block; }
  #menu li {
    position: relative;
    float: left;
    float-display: block; }
    #menu li:hover ul {
      display: block; }
