#item-header{:role => "complementary"}
  #item-header-avatar
    %a{:href => ""}
      %img#grav-c23e798069bb8f256c6dab85cb6a1861-0.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "150", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=150", :width => "150"}
  / #item-header-avatar
  #item-header-content
    %h2
      %a{:href => "http://testbp.org/members/weslebsack/"} Wes Lebsack
    %span.user-nicename @weslebsack
    %span.activity active 30 minutes ago
    #item-meta
      #latest-update
        TESTING
        %a{:href => "http://testbp.org/activity/p/99308/", :rel => "nofollow"} View
      #item-buttons
        #friendship-button-26434.generic-button.friendship-button.not_friends
          %a#friend-26434.friendship-button.not_friends.add.ss_sprite.ss_user_add{:href => "http://testbp.org/members/corrodedlotus/friends/add-friend/26434/?_wpnonce=3fbac13bb0", :rel => "add", :title => "Add Friend"} Add Friend
        #post-mention.generic-button
          %a.activity-button.mention{:href => "http://testbp.org/members/corrodedlotus/activity/?r=weslebsack&_wpnonce=db5be8cae8", :title => "Send a public message on your activity stream."} Public Message
        #send-private-message.generic-button
          %a.send-message{:href => "http://testbp.org/members/corrodedlotus/messages/compose/?r=weslebsack&_wpnonce=db5be8cae8", :title => "Send a private message to this user."} Private Message
      / #item-buttons
    / #item-meta
  / #item-header-content
/ #item-header
#item-nav
  #object-nav.item-list-tabs.no-ajax{:role => "navigation"}
    %ul
      %li#activity-personal-li.current.selected
        %a#user-activity{:href => "http://testbp.org/members/weslebsack/activity/"} Activity
      %li#xprofile-personal-li
        %a#user-xprofile{:href => "http://testbp.org/members/weslebsack/profile/"} Profile
      %li#friends-personal-li
        %a#user-friends{:href => "http://testbp.org/members/weslebsack/friends/"}
          Friends
          %span 1
      %li#groups-personal-li
        %a#user-groups{:href => "http://testbp.org/members/weslebsack/groups/"}
          Groups
          %span 2
      %li#forums-personal-li
        %a#user-forums{:href => "http://testbp.org/members/weslebsack/forums/"} Forums
/ #item-nav
#item-body
  #subnav.item-list-tabs.no-ajax{:role => "navigation"}
    %ul
      %li#just-me-personal-li.current.selected
        %a#just-me{:href => "http://testbp.org/members/weslebsack/activity/just-me/"} Personal
      %li#activity-mentions-personal-li
        %a#activity-mentions{:href => "http://testbp.org/members/weslebsack/activity/mentions/"} Mentions
      %li#activity-favs-personal-li
        %a#activity-favs{:href => "http://testbp.org/members/weslebsack/activity/favorites/"} Favorites
      %li#activity-friends-personal-li
        %a#activity-friends{:href => "http://testbp.org/members/weslebsack/activity/friends/"} Friends
      %li#activity-groups-personal-li
        %a#activity-groups{:href => "http://testbp.org/members/weslebsack/activity/groups/"} Groups
      %li#activity-filter-select.last
        %label{:for => "activity-filter-by"} Show:
        %select#activity-filter-by
          %option{:value => "-1"} Everything
          %option{:value => "activity_update"} Updates
          %option{:value => "friendship_accepted,friendship_created"} Friendships
          %option{:value => "new_forum_topic"} Forum Topics
          %option{:value => "new_forum_post"} Forum Replies
          %option{:value => "created_group"} New Groups
          %option{:value => "joined_group"} Group Memberships
  / .item-list-tabs
  .activity{:role => "main"}
    %noscript
      .pagination
        .pag-count Viewing item 1 to 10 (of 10 items)
        .pagination-links
    %ul#activity-stream.activity-list.item-list
      %li#activity-99308.activity.activity_update.has-comments
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-1.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              posted an update:
              %a.view.activity-time-since{:href => "http://testbp.org/activity/p/99308/", :title => "View Discussion"}
                %span.time-since 3 months, 2 weeks ago
          .activity-inner
            %p TESTING
          .activity-meta
            %a#acomment-comment-99308.button.acomment-reply.bp-primary-action{:href => ""}
              Comment
              %span 1
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/99308/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
        .activity-comments
          %ul
            %li#acomment-99315
              .acomment-avatar
                %a{:href => "http://testbp.org/members/saintdo/"}
                  %img#grav-8fc076300b2837d108021ec18246b871-0.avatar.user-32945-avatar.grav-hashed{:alt => "Profile picture of sssitr", :height => "50", :src => "http://www.gravatar.com/avatar/8fc076300b2837d108021ec18246b871?d=wavatar&s=50", :width => "50"}
              .acomment-meta
                %a{:href => "http://testbp.org/members/saintdo/"} sssitr
                replied
                %a.activity-time-since{:href => "http://testbp.org/activity/p/99308/"}
                  %span.time-since 3 months, 2 weeks ago
              .acomment-content
                %p hihi
              .acomment-options
                %a#acomment-reply-99308-from-99315.acomment-reply.bp-primary-action{:href => "#acomment-99315"} Comment
          %form#ac-form-99308.ac-form{:action => "http://testbp.org/activity/reply/", :method => "post", :style => "display: none;"}
            .ac-reply-avatar
              %img#grav-a53cdbd5cbc6e9fc944d35331a32e63c-0.avatar.user-35934-avatar.grav-hashed.grav-hijack{:alt => "Profile picture of corroded", :height => "50", :src => "http://www.gravatar.com/avatar/a53cdbd5cbc6e9fc944d35331a32e63c?d=wavatar&s=50", :width => "50"}/
            .ac-reply-content
              .ac-textarea
                %textarea#ac-input-99308.ac-input{:name => "ac_input_99308"}
              %input{:name => "ac_form_submit", :type => "submit", :value => "Post"}
                \  or press esc to cancel.
                %input{:name => "comment_form_id", :type => "hidden", :value => "99308"}
            %input#_wpnonce_new_activity_comment{:name => "_wpnonce_new_activity_comment", :type => "hidden", :value => "4ea6836b21"}
              %input{:name => "_wp_http_referer", :type => "hidden", :value => "/members/weslebsack/"}
      %li#activity-99307.activity.activity_update
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-2.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              posted an update:
              %a.view.activity-time-since{:href => "http://testbp.org/activity/p/99307/", :title => "View Discussion"}
                %span.time-since 3 months, 2 weeks ago
          .activity-inner
            %p
              %a{:href => "http://testbp.org/members/weslebsack2/", :rel => "nofollow"} @weslebsack2
              word
          .activity-meta
            %a#acomment-comment-99307.button.acomment-reply.bp-primary-action{:href => ""}
              Comment
              %span 0
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/99307/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
        .activity-comments
          %form#ac-form-99307.ac-form{:action => "http://testbp.org/activity/reply/", :method => "post", :style => "display: none;"}
            .ac-reply-avatar
              %img#grav-a53cdbd5cbc6e9fc944d35331a32e63c-1.avatar.user-35934-avatar.grav-hashed.grav-hijack{:alt => "Profile picture of corroded", :height => "50", :src => "http://www.gravatar.com/avatar/a53cdbd5cbc6e9fc944d35331a32e63c?d=wavatar&s=50", :width => "50"}/
            .ac-reply-content
              .ac-textarea
                %textarea#ac-input-99307.ac-input{:name => "ac_input_99307"}
              %input{:name => "ac_form_submit", :type => "submit", :value => "Post"}
                \  or press esc to cancel.
                %input{:name => "comment_form_id", :type => "hidden", :value => "99307"}
            %input#_wpnonce_new_activity_comment{:name => "_wpnonce_new_activity_comment", :type => "hidden", :value => "4ea6836b21"}
              %input{:name => "_wp_http_referer", :type => "hidden", :value => "/members/weslebsack/"}
      %li#activity-99305.activity.activity_update
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-3.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              posted an update:
              %a.view.activity-time-since{:href => "http://testbp.org/activity/p/99305/", :title => "View Discussion"}
                %span.time-since 3 months, 2 weeks ago
          .activity-inner
            %p Test!
          .activity-meta
            %a#acomment-comment-99305.button.acomment-reply.bp-primary-action{:href => ""}
              Comment
              %span 0
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/99305/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
        .activity-comments
          %form#ac-form-99305.ac-form{:action => "http://testbp.org/activity/reply/", :method => "post", :style => "display: none;"}
            .ac-reply-avatar
              %img#grav-a53cdbd5cbc6e9fc944d35331a32e63c-2.avatar.user-35934-avatar.grav-hashed.grav-hijack{:alt => "Profile picture of corroded", :height => "50", :src => "http://www.gravatar.com/avatar/a53cdbd5cbc6e9fc944d35331a32e63c?d=wavatar&s=50", :width => "50"}/
            .ac-reply-content
              .ac-textarea
                %textarea#ac-input-99305.ac-input{:name => "ac_input_99305"}
              %input{:name => "ac_form_submit", :type => "submit", :value => "Post"}
                \  or press esc to cancel.
                %input{:name => "comment_form_id", :type => "hidden", :value => "99305"}
            %input#_wpnonce_new_activity_comment{:name => "_wpnonce_new_activity_comment", :type => "hidden", :value => "4ea6836b21"}
              %input{:name => "_wp_http_referer", :type => "hidden", :value => "/members/weslebsack/"}
      %li#activity-98661.activity.activity_comment
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-4.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              posted a new activity comment:
              %a.view.activity-time-since{:href => "http://testbp.org/activity/p/98652/", :title => "View Discussion"}
                %span.time-since 4 months ago
          .activity-inreplyto
            %strong In reply to:
            %a{:href => "http://testbp.org/members/nglinka/", :rel => "nofollow", :title => "Nicolas G."} Nicolas G.
            posted an update: Hello World!
            %a.view{:href => "http://testbp.org/activity/p/98652/", :title => "View Thread / Permalink"} View
          .activity-inner
            %p dsfdsfsdf
          .activity-meta
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/98661/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
      %li#activity-98660.activity.activity_comment
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-5.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              posted a new activity comment:
              %a.view.activity-time-since{:href => "http://testbp.org/activity/p/98659/", :title => "View Discussion"}
                %span.time-since 4 months ago
          .activity-inreplyto
            %strong In reply to:
            %a{:href => "http://testbp.org/members/weslebsack/", :rel => "nofollow", :title => "Wes Lebsack"} Wes Lebsack
            posted an update: TESTING
            %a.view{:href => "http://testbp.org/activity/p/98659/", :title => "View Thread / Permalink"} View
          .activity-inner
            %p AWESOME
          .activity-meta
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/98660/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
      %li#activity-98659.activity.activity_update.has-comments
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-6.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              posted an update:
              %a.view.activity-time-since{:href => "http://testbp.org/activity/p/98659/", :title => "View Discussion"}
                %span.time-since 4 months ago
          .activity-inner
            %p TESTING
          .activity-meta
            %a#acomment-comment-98659.button.acomment-reply.bp-primary-action{:href => ""}
              Comment
              %span 1
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/98659/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
        .activity-comments
          %ul
            %li#acomment-98660
              .acomment-avatar
                %a{:href => "http://testbp.org/members/weslebsack/"}
                  %img#grav-c23e798069bb8f256c6dab85cb6a1861-7.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}               .acomment-meta
                %a{:href => "http://testbp.org/members/weslebsack/"} Wes Lebsack
                replied
                %a.activity-time-since{:href => "http://testbp.org/activity/p/98659/"}
                  %span.time-since 4 months ago
              .acomment-content
                %p AWESOME
              .acomment-options
                %a#acomment-reply-98659-from-98660.acomment-reply.bp-primary-action{:href => "#acomment-98660"} Comment
          %form#ac-form-98659.ac-form{:action => "http://testbp.org/activity/reply/", :method => "post", :style => "display: none;"}
            .ac-reply-avatar
              %img#grav-a53cdbd5cbc6e9fc944d35331a32e63c-3.avatar.user-35934-avatar.grav-hashed.grav-hijack{:alt => "Profile picture of corroded", :height => "50", :src => "http://www.gravatar.com/avatar/a53cdbd5cbc6e9fc944d35331a32e63c?d=wavatar&s=50", :width => "50"}/
            .ac-reply-content
              .ac-textarea
                %textarea#ac-input-98659.ac-input{:name => "ac_input_98659"}
              %input{:name => "ac_form_submit", :type => "submit", :value => "Post"}
                \  or press esc to cancel.
                %input{:name => "comment_form_id", :type => "hidden", :value => "98659"}
            %input#_wpnonce_new_activity_comment{:name => "_wpnonce_new_activity_comment", :type => "hidden", :value => "4ea6836b21"}
              %input{:name => "_wp_http_referer", :type => "hidden", :value => "/members/weslebsack/"}
      %li#activity-97857.groups.new_forum_topic
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-8.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              started the forum topic
              %a{:href => "http://testbp.org/groups/the-mr-topp-group/forum/topic/testing-8/"} testing!
              in the group
              %img#grav-06d7d011d314a9222e9e4b8bcd46bdad-0.avatar.group-2663-avatar.grav-hashed.grav-hijack{:alt => "Group logo of The Mr Topp group", :height => "20", :src => "http://www.gravatar.com/avatar/06d7d011d314a9222e9e4b8bcd46bdad?d=wavatar&s=20", :width => "20"}
                %a{:href => "http://testbp.org/groups/the-mr-topp-group/"}> The Mr Topp group
                \:
                %a.view.activity-time-since{:href => "http://testbp.org/groups/the-mr-topp-group/forum/topic/testing-8/", :title => "View Discussion"}
                  %span.time-since 4 months, 2 weeks ago
          .activity-inner
            %p test
          .activity-meta
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/97857/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
      %li#activity-97856.groups.joined_group.mini
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-9.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              joined the group
              %img#grav-06d7d011d314a9222e9e4b8bcd46bdad-1.avatar.group-2663-avatar.grav-hashed.grav-hijack{:alt => "Group logo of The Mr Topp group", :height => "20", :src => "http://www.gravatar.com/avatar/06d7d011d314a9222e9e4b8bcd46bdad?d=wavatar&s=20", :width => "20"}
                %a{:href => "http://testbp.org/groups/the-mr-topp-group/"} The Mr Topp group
                %a.view.activity-time-since{:href => "http://testbp.org/activity/p/97856/", :title => "View Discussion"}
                  %span.time-since 4 months, 2 weeks ago
          .activity-meta
            %a#acomment-comment-97856.button.acomment-reply.bp-primary-action{:href => ""}
              Comment
              %span 0
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/97856/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
        .activity-comments
          %form#ac-form-97856.ac-form{:action => "http://testbp.org/activity/reply/", :method => "post", :style => "display: none;"}
            .ac-reply-avatar
              %img#grav-a53cdbd5cbc6e9fc944d35331a32e63c-4.avatar.user-35934-avatar.grav-hashed.grav-hijack{:alt => "Profile picture of corroded", :height => "50", :src => "http://www.gravatar.com/avatar/a53cdbd5cbc6e9fc944d35331a32e63c?d=wavatar&s=50", :width => "50"}/
            .ac-reply-content
              .ac-textarea
                %textarea#ac-input-97856.ac-input{:name => "ac_input_97856"}
              %input{:name => "ac_form_submit", :type => "submit", :value => "Post"}
                \  or press esc to cancel.
                %input{:name => "comment_form_id", :type => "hidden", :value => "97856"}
            %input#_wpnonce_new_activity_comment{:name => "_wpnonce_new_activity_comment", :type => "hidden", :value => "4ea6836b21"}
              %input{:name => "_wp_http_referer", :type => "hidden", :value => "/members/weslebsack/"}
      %li#activity-88850.activity.activity_update
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-10.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              posted an update:
              %a.view.activity-time-since{:href => "http://testbp.org/activity/p/88850/", :title => "View Discussion"}
                %span.time-since 10 months ago
          .activity-inner
            %p Word!
          .activity-meta
            %a#acomment-comment-88850.button.acomment-reply.bp-primary-action{:href => ""}
              Comment
              %span 0
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/88850/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
        .activity-comments
          %form#ac-form-88850.ac-form{:action => "http://testbp.org/activity/reply/", :method => "post", :style => "display: none;"}
            .ac-reply-avatar
              %img#grav-a53cdbd5cbc6e9fc944d35331a32e63c-5.avatar.user-35934-avatar.grav-hashed.grav-hijack{:alt => "Profile picture of corroded", :height => "50", :src => "http://www.gravatar.com/avatar/a53cdbd5cbc6e9fc944d35331a32e63c?d=wavatar&s=50", :width => "50"}/
            .ac-reply-content
              .ac-textarea
                %textarea#ac-input-88850.ac-input{:name => "ac_input_88850"}
              %input{:name => "ac_form_submit", :type => "submit", :value => "Post"}
                \  or press esc to cancel.
                %input{:name => "comment_form_id", :type => "hidden", :value => "88850"}
            %input#_wpnonce_new_activity_comment{:name => "_wpnonce_new_activity_comment", :type => "hidden", :value => "4ea6836b21"}
              %input{:name => "_wp_http_referer", :type => "hidden", :value => "/members/weslebsack/"}
      %li#activity-88849.profile.new_member.mini
        .activity-avatar
          %a{:href => "http://testbp.org/members/weslebsack/"}
            %img#grav-c23e798069bb8f256c6dab85cb6a1861-11.avatar.user-26434-avatar.grav-hashed{:alt => "Profile picture of Wes Lebsack", :height => "50", :src => "http://www.gravatar.com/avatar/c23e798069bb8f256c6dab85cb6a1861?d=wavatar&s=50", :width => "50"}
        .activity-content
          .activity-header
            %p
              %a{:href => "http://testbp.org/members/weslebsack/", :title => "Wes Lebsack"} Wes Lebsack
              became a registered member
              %a.view.activity-time-since{:href => "http://testbp.org/activity/p/88849/", :title => "View Discussion"}
                %span.time-since 10 months ago
          .activity-meta
            %a#acomment-comment-88849.button.acomment-reply.bp-primary-action{:href => ""}
              Comment
              %span 0
            %a.button.fav.bp-secondary-action{:href => "http://testbp.org/activity/favorite/88849/?_wpnonce=d8a1a7e768", :title => "Mark as Favorite"} Favorite
        .activity-comments
          %form#ac-form-88849.ac-form{:action => "http://testbp.org/activity/reply/", :method => "post", :style => "display: none;"}
            .ac-reply-avatar
              %img#grav-a53cdbd5cbc6e9fc944d35331a32e63c-6.avatar.user-35934-avatar.grav-hashed.grav-hijack{:alt => "Profile picture of corroded", :height => "50", :src => "http://www.gravatar.com/avatar/a53cdbd5cbc6e9fc944d35331a32e63c?d=wavatar&s=50", :width => "50"}/
            .ac-reply-content
              .ac-textarea
                %textarea#ac-input-88849.ac-input{:name => "ac_input_88849"}
              %input{:name => "ac_form_submit", :type => "submit", :value => "Post"}
                \  or press esc to cancel.
                %input{:name => "comment_form_id", :type => "hidden", :value => "88849"}
            %input#_wpnonce_new_activity_comment{:name => "_wpnonce_new_activity_comment", :type => "hidden", :value => "4ea6836b21"}
              %input{:name => "_wp_http_referer", :type => "hidden", :value => "/members/weslebsack/"}
    %form#activity-loop-form{:action => "", :method => "post", :name => "activity-loop-form"}
      %input#_wpnonce_activity_filter{:name => "_wpnonce_activity_filter", :type => "hidden", :value => "282ee81a5d"}
        %input{:name => "_wp_http_referer", :type => "hidden", :value => "/members/weslebsack/"}
  / .activity
/ #item-body

