#sidebar
  .padder
    %p#login-text
      To start connecting please log in first.
    %form#sidebar-login-form.standard-form{:action => "http://winkle.sweetperceptions.com/winkle/wp-login.php", :method => "post", :name => "login-form"}
      %label
        Username
        %br/
        %input{:type => "text", :name => "log", :id => "sidebar-user-login", :class => "input", :value => "", :tabindex => "97"}
      %label
        Password
        %br/
        %input#sidebar-user-pass.input{:name => "pwd", :tabindex => "98", :type => "password", :value => ""}/
      %p.forgetmenot
        %label
          %input#sidebar-rememberme{:name => "rememberme", :tabindex => "99", :type => "checkbox", :value => "forever"}/
          Remember Me
      %input#sidebar-wp-submit{:name => "wp-submit", :tabindex => "100", :type => "submit", :value => "Log In"}/
      %input{:name => "testcookie", :type => "hidden", :value => "1"}/


  #dfrads-widget-2.widget
    %h3.widgettitle Ads
    %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :bgcolor => "", :flashvars => "backgroundColor=0x&textColor=0xFFCC99&config=http%3A%2F%2Fmisteryo.ning.com%2Fmain%2Fbadge%2FshowPlayerConfig%3Fxg_source%3Dbadge%26size%3Dlarge%26username%3D20cxhg658aumb", :height => "242", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :scale => "noscale", :src => "http://static.ning.com/socialnetworkmain/widgets/index/swf/badge.swf?v=201011042247", :type => "application/x-shockwave-flash", :width => "210", :wmode => "opaque"}/

  #bp_core_whos_online_widget-3.widget.widget_bp_core_whos_online_widget
    %h3.widgettitle Who's Online Avatars
    .widget-error
      There are no users currently online
