#footer
  :background #131313
  :clear both
  +pie-clearfix
  :padding 25px 0
    :left 30px
    :bottom 45px
    
  ul
    :width 1024px
    :margin 0 auto
    +pie-clearfix
    li
      :float left
      :width 220px
      :margin
        :left 20px
      :font
        :size 13px
      
      ul
        li
          :padding 3px 0      
          :float none
          
        h4
          :font
            :size 12px
          :text
            :transform uppercase
          :color #ffb628
          :padding
            :bottom 20px
  a
    :color #fff
    
    &:hover
      :color #999
    
