#footer
  :clear both
  +pie-clearfix
  padding: 50px 0
  
  ul
    :float left
    :width 22%
    :margin
      :left 20px
    :font
      :size .9em
      
    h4
      :font
        :size .8em
      :text
        :transform uppercase
      :color #ffb628
      :padding
        :bottom 20px
  a
    :color #fff
    
    &:hover
      :color #999
    
