#footer
  +pie-clearfix
  clear: both
  padding:
    top: 25px
    bottom: 45px
  margin: auto
  background: #131313
  bottom: 0
  position: relative
    
  ul
    width: 960px
    margin: 0 auto
    +pie-clearfix

    li
      float: left
      width: 220px
      margin:
        right: 20px
      font:
        size: 13px
      
      ul
        li
          padding: 3px 0
          float: none
          
        h4
          border: 0
          background: none
          font:
            size: 12px
          text:
            transform: uppercase
          color: $highlight
          padding:
            left: 0
            bottom: 0
          margin:
            bottom: 10px
  a
    color: #fff
    
    &:hover
      color: #999
    
