#index-main
  +pie-clearfix
  background: url(/images/farora/bg1.jpg) no-repeat top center
  height: 680px
  
  fieldset
    :background #303030
    :padding 25px 50px
    :float right
    :width 600px
    
    h3
      :font
        :size 1.1em
        :weight bold
    
    em
      :font
        :weight normal
        :style italic
        :size .9em
      a
        :color #47a3ff