#results-main
  min-height: 440px
  color: #000
  a
    color: $main-color
    
  b
    color: #000

  > ul
    padding:
      left: 30px
      
  label
    float: left
    display: block
    padding: 10px
    
  select
    :border 1px solid #96A6C5
    