.review-results
  li
    border:
      bottom: 1px solid #ccc
    padding: 0
      top: 20px
  
  p
    margin:
      bottom: 20px
        
    &.post-details
      color: #999
      
.result-description
  background: #ccc
  padding: 10px
  text-align: center
  margin: 20px 0
  
  p
    color: #000