@import compass/reset
@import blueprint/grid
@import blueprint/fancy-type
@import compass/utilities/general/clearfix
@import compass/css3
@import compass/reset/utilities
@import compass/utilities/sprites

$main-color: #47a3ff

body
  :font
    :family Arial, sans-serif
    :size 14px
  :width 100%
  :background #f6f6f6
  
  &.index
    background: #131313 url(/images/farora/bg1.jpg) no-repeat top center
    
#container
  margin: 0 auto
  :overflow-x hidden 
    
ul
  :list-style-type none

a
  :color #fff
  :text
    :decoration none
    
  &:hover
    :color #999
    
h2
  font:
    size: 20px
    weight: bold
  padding:
    bottom: 10px
    
select
  +border-radius(5px)
  :display block
  :font
    :size .9em
  :padding 5px
  :color #000
  :background #fff
  :border 0
  :height 30px
  :width 194px
  :margin
    :top 5px
    
.inner-container
  :width 1024px
  :margin 0 auto  
  
@import calendrical
@import footer
@import header
@import index
@import lists
@import nav
@import results
@import review
@import star_rating