@import compass/reset
@import blueprint/grid
@import blueprint/fancy-type
@import compass/utilities/general/clearfix
@import compass/css3
@import compass/reset/utilities
@import compass/utilities/sprites

body
  background: #131313 url(/images/farora/bg1.jpg) no-repeat top center
  :font
    :family Arial, sans-serif
    :size 14px
  :color #fff
  :width 100%
    
#container
  margin: 0 auto
  :overflow-x hidden 
    
ul
  :list-style-type none

a
  :color #fff
  :text
    :decoration none
    
  &:hover
    :color #999
    
.inner-container
  :width 1024px
  :margin 0 auto
  

  
@import calendrical
@import footer
@import header
@import index
@import nav
