html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.container_24 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.container_24 .grid_1, .container_24 .grid_2, .container_24 .grid_3, .container_24 .grid_4, .container_24 .grid_5, .container_24 .grid_6, .container_24 .grid_7, .container_24 .grid_8, .container_24 .grid_9, .container_24 .grid_10, .container_24 .grid_11, .container_24 .grid_12, .container_24 .grid_13, .container_24 .grid_14, .container_24 .grid_15, .container_24 .grid_16, .container_24 .grid_17, .container_24 .grid_18, .container_24 .grid_19, .container_24 .grid_20, .container_24 .grid_21, .container_24 .grid_22, .container_24 .grid_23, .container_24 .grid_24 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.container_24 .grid_1 {
  width: 20px;
}
.container_24 .grid_2 {
  width: 60px;
}
.container_24 .grid_3 {
  width: 100px;
}
.container_24 .grid_4 {
  width: 140px;
}
.container_24 .grid_5 {
  width: 180px;
}
.container_24 .grid_6 {
  width: 220px;
}
.container_24 .grid_7 {
  width: 260px;
}
.container_24 .grid_8 {
  width: 300px;
}
.container_24 .grid_9 {
  width: 340px;
}
.container_24 .grid_10 {
  width: 380px;
}
.container_24 .grid_11 {
  width: 420px;
}
.container_24 .grid_12 {
  width: 460px;
}
.container_24 .grid_13 {
  width: 500px;
}
.container_24 .grid_14 {
  width: 540px;
}
.container_24 .grid_15 {
  width: 580px;
}
.container_24 .grid_16 {
  width: 620px;
}
.container_24 .grid_17 {
  width: 660px;
}
.container_24 .grid_18 {
  width: 700px;
}
.container_24 .grid_19 {
  width: 740px;
}
.container_24 .grid_20 {
  width: 780px;
}
.container_24 .grid_21 {
  width: 820px;
}
.container_24 .grid_22 {
  width: 860px;
}
.container_24 .grid_23 {
  width: 900px;
}
.container_24 .grid_24 {
  width: 940px;
}
.container_24 .prefix_1 {
  padding-left: 40px;
}
.container_24 .prefix_2 {
  padding-left: 80px;
}
.container_24 .prefix_3 {
  padding-left: 120px;
}
.container_24 .prefix_4 {
  padding-left: 160px;
}
.container_24 .prefix_5 {
  padding-left: 200px;
}
.container_24 .prefix_6 {
  padding-left: 240px;
}
.container_24 .prefix_7 {
  padding-left: 280px;
}
.container_24 .prefix_8 {
  padding-left: 320px;
}
.container_24 .prefix_9 {
  padding-left: 360px;
}
.container_24 .prefix_10 {
  padding-left: 400px;
}
.container_24 .prefix_11 {
  padding-left: 440px;
}
.container_24 .prefix_12 {
  padding-left: 480px;
}
.container_24 .prefix_13 {
  padding-left: 520px;
}
.container_24 .prefix_14 {
  padding-left: 560px;
}
.container_24 .prefix_15 {
  padding-left: 600px;
}
.container_24 .prefix_16 {
  padding-left: 640px;
}
.container_24 .prefix_17 {
  padding-left: 680px;
}
.container_24 .prefix_18 {
  padding-left: 720px;
}
.container_24 .prefix_19 {
  padding-left: 760px;
}
.container_24 .prefix_20 {
  padding-left: 800px;
}
.container_24 .prefix_21 {
  padding-left: 840px;
}
.container_24 .prefix_22 {
  padding-left: 880px;
}
.container_24 .prefix_23 {
  padding-left: 920px;
}
.container_24 .suffix_1 {
  padding-right: 40px;
}
.container_24 .suffix_2 {
  padding-right: 80px;
}
.container_24 .suffix_3 {
  padding-right: 120px;
}
.container_24 .suffix_4 {
  padding-right: 160px;
}
.container_24 .suffix_5 {
  padding-right: 200px;
}
.container_24 .suffix_6 {
  padding-right: 240px;
}
.container_24 .suffix_7 {
  padding-right: 280px;
}
.container_24 .suffix_8 {
  padding-right: 320px;
}
.container_24 .suffix_9 {
  padding-right: 360px;
}
.container_24 .suffix_10 {
  padding-right: 400px;
}
.container_24 .suffix_11 {
  padding-right: 440px;
}
.container_24 .suffix_12 {
  padding-right: 480px;
}
.container_24 .suffix_13 {
  padding-right: 520px;
}
.container_24 .suffix_14 {
  padding-right: 560px;
}
.container_24 .suffix_15 {
  padding-right: 600px;
}
.container_24 .suffix_16 {
  padding-right: 640px;
}
.container_24 .suffix_17 {
  padding-right: 680px;
}
.container_24 .suffix_18 {
  padding-right: 720px;
}
.container_24 .suffix_19 {
  padding-right: 760px;
}
.container_24 .suffix_20 {
  padding-right: 800px;
}
.container_24 .suffix_21 {
  padding-right: 840px;
}
.container_24 .suffix_22 {
  padding-right: 880px;
}
.container_24 .suffix_23 {
  padding-right: 920px;
}
.container_24 .alpha {
  margin-left: 0;
}
.container_24 .omega {
  margin-right: 0;
}
.container_24 .push_1, .container_24 .push_2, .container_24 .push_3, .container_24 .push_4, .container_24 .push_5, .container_24 .push_6, .container_24 .push_7, .container_24 .push_8, .container_24 .push_9, .container_24 .push_10, .container_24 .push_11, .container_24 .push_12, .container_24 .push_13, .container_24 .push_14, .container_24 .push_15, .container_24 .push_16, .container_24 .push_17, .container_24 .push_18, .container_24 .push_19, .container_24 .push_20, .container_24 .push_21, .container_24 .push_22, .container_24 .push_23,
.container_24 .pull_1, .container_24 .pull_2, .container_24 .pull_3, .container_24 .pull_4, .container_24 .pull_5, .container_24 .pull_6, .container_24 .pull_7, .container_24 .pull_8, .container_24 .pull_9, .container_24 .pull_10, .container_24 .pull_11, .container_24 .pull_12, .container_24 .pull_13, .container_24 .pull_14, .container_24 .pull_15, .container_24 .pull_16, .container_24 .pull_17, .container_24 .pull_18, .container_24 .pull_19, .container_24 .pull_20, .container_24 .pull_21, .container_24 .pull_22, .container_24 .pull_23 {
  position: relative;
}
.container_24 .push_1 {
  left: 40px;
}
.container_24 .pull_1 {
  left: -40px;
}
.container_24 .push_2 {
  left: 80px;
}
.container_24 .pull_2 {
  left: -80px;
}
.container_24 .push_3 {
  left: 120px;
}
.container_24 .pull_3 {
  left: -120px;
}
.container_24 .push_4 {
  left: 160px;
}
.container_24 .pull_4 {
  left: -160px;
}
.container_24 .push_5 {
  left: 200px;
}
.container_24 .pull_5 {
  left: -200px;
}
.container_24 .push_6 {
  left: 240px;
}
.container_24 .pull_6 {
  left: -240px;
}
.container_24 .push_7 {
  left: 280px;
}
.container_24 .pull_7 {
  left: -280px;
}
.container_24 .push_8 {
  left: 320px;
}
.container_24 .pull_8 {
  left: -320px;
}
.container_24 .push_9 {
  left: 360px;
}
.container_24 .pull_9 {
  left: -360px;
}
.container_24 .push_10 {
  left: 400px;
}
.container_24 .pull_10 {
  left: -400px;
}
.container_24 .push_11 {
  left: 440px;
}
.container_24 .pull_11 {
  left: -440px;
}
.container_24 .push_12 {
  left: 480px;
}
.container_24 .pull_12 {
  left: -480px;
}
.container_24 .push_13 {
  left: 520px;
}
.container_24 .pull_13 {
  left: -520px;
}
.container_24 .push_14 {
  left: 560px;
}
.container_24 .pull_14 {
  left: -560px;
}
.container_24 .push_15 {
  left: 600px;
}
.container_24 .pull_15 {
  left: -600px;
}
.container_24 .push_16 {
  left: 640px;
}
.container_24 .pull_16 {
  left: -640px;
}
.container_24 .push_17 {
  left: 680px;
}
.container_24 .pull_17 {
  left: -680px;
}
.container_24 .push_18 {
  left: 720px;
}
.container_24 .pull_18 {
  left: -720px;
}
.container_24 .push_19 {
  left: 760px;
}
.container_24 .pull_19 {
  left: -760px;
}
.container_24 .push_20 {
  left: 800px;
}
.container_24 .pull_20 {
  left: -800px;
}
.container_24 .push_21 {
  left: 840px;
}
.container_24 .pull_21 {
  left: -840px;
}
.container_24 .push_22 {
  left: 880px;
}
.container_24 .pull_22 {
  left: -880px;
}
.container_24 .push_23 {
  left: 920px;
}
.container_24 .pull_23 {
  left: -920px;
}

body {
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a:focus {
  outline: 1px dotted invert;
}

hr {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

@font-face {
  font-family: "DiavloMedium";
  src: url("diavlo_medium_ii_37-webfont.eot");
  src: url("diavlo_medium_ii_37-webfont.eot?#iefix") format("embedded-opentype"), url("diavlo_medium_ii_37-webfont.woff") format("woff"), url("diavlo_medium_ii_37-webfont.ttf") format("truetype"), url("diavlo_medium_ii_37-webfont.svg#DiavloMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

label {
  color: #996699;
  display: block;
  margin: 15px 0 5px 0;
  font-weight: bold;
  font-size: 12px;
}

input[type=text],
input[type=password] {
  border: 1px inset #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 6px;
  font: inherit;
  font-size: 14px;
  color: #888888;
}

input[type=submit] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  padding: 3px 10px;
  text-decoration: none;
  color: #888888;
  font-size: 12px;
  font-weight: normal;
  vertical-align: bottom;
  cursor: pointer;
}

input[type=checkbox] {
  margin-left: 0;
}

body {
  background: #996699 url(/images/winkle/body-bg.png) repeat-x;
}

#bp-default {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  *zoom: 1;
}
#bp-default .grid_1, #bp-default .grid_2, #bp-default .grid_3, #bp-default .grid_4, #bp-default .grid_5, #bp-default .grid_6, #bp-default .grid_7, #bp-default .grid_8, #bp-default .grid_9, #bp-default .grid_10, #bp-default .grid_11, #bp-default .grid_12, #bp-default .grid_13, #bp-default .grid_14, #bp-default .grid_15, #bp-default .grid_16, #bp-default .grid_17, #bp-default .grid_18, #bp-default .grid_19, #bp-default .grid_20, #bp-default .grid_21, #bp-default .grid_22, #bp-default .grid_23, #bp-default .grid_24 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
#bp-default .grid_1 {
  width: 20px;
}
#bp-default .grid_2 {
  width: 60px;
}
#bp-default .grid_3 {
  width: 100px;
}
#bp-default .grid_4 {
  width: 140px;
}
#bp-default .grid_5 {
  width: 180px;
}
#bp-default .grid_6 {
  width: 220px;
}
#bp-default .grid_7 {
  width: 260px;
}
#bp-default .grid_8 {
  width: 300px;
}
#bp-default .grid_9 {
  width: 340px;
}
#bp-default .grid_10 {
  width: 380px;
}
#bp-default .grid_11 {
  width: 420px;
}
#bp-default .grid_12 {
  width: 460px;
}
#bp-default .grid_13 {
  width: 500px;
}
#bp-default .grid_14 {
  width: 540px;
}
#bp-default .grid_15 {
  width: 580px;
}
#bp-default .grid_16 {
  width: 620px;
}
#bp-default .grid_17 {
  width: 660px;
}
#bp-default .grid_18 {
  width: 700px;
}
#bp-default .grid_19 {
  width: 740px;
}
#bp-default .grid_20 {
  width: 780px;
}
#bp-default .grid_21 {
  width: 820px;
}
#bp-default .grid_22 {
  width: 860px;
}
#bp-default .grid_23 {
  width: 900px;
}
#bp-default .grid_24 {
  width: 940px;
}
#bp-default .prefix_1 {
  padding-left: 40px;
}
#bp-default .prefix_2 {
  padding-left: 80px;
}
#bp-default .prefix_3 {
  padding-left: 120px;
}
#bp-default .prefix_4 {
  padding-left: 160px;
}
#bp-default .prefix_5 {
  padding-left: 200px;
}
#bp-default .prefix_6 {
  padding-left: 240px;
}
#bp-default .prefix_7 {
  padding-left: 280px;
}
#bp-default .prefix_8 {
  padding-left: 320px;
}
#bp-default .prefix_9 {
  padding-left: 360px;
}
#bp-default .prefix_10 {
  padding-left: 400px;
}
#bp-default .prefix_11 {
  padding-left: 440px;
}
#bp-default .prefix_12 {
  padding-left: 480px;
}
#bp-default .prefix_13 {
  padding-left: 520px;
}
#bp-default .prefix_14 {
  padding-left: 560px;
}
#bp-default .prefix_15 {
  padding-left: 600px;
}
#bp-default .prefix_16 {
  padding-left: 640px;
}
#bp-default .prefix_17 {
  padding-left: 680px;
}
#bp-default .prefix_18 {
  padding-left: 720px;
}
#bp-default .prefix_19 {
  padding-left: 760px;
}
#bp-default .prefix_20 {
  padding-left: 800px;
}
#bp-default .prefix_21 {
  padding-left: 840px;
}
#bp-default .prefix_22 {
  padding-left: 880px;
}
#bp-default .prefix_23 {
  padding-left: 920px;
}
#bp-default .suffix_1 {
  padding-right: 40px;
}
#bp-default .suffix_2 {
  padding-right: 80px;
}
#bp-default .suffix_3 {
  padding-right: 120px;
}
#bp-default .suffix_4 {
  padding-right: 160px;
}
#bp-default .suffix_5 {
  padding-right: 200px;
}
#bp-default .suffix_6 {
  padding-right: 240px;
}
#bp-default .suffix_7 {
  padding-right: 280px;
}
#bp-default .suffix_8 {
  padding-right: 320px;
}
#bp-default .suffix_9 {
  padding-right: 360px;
}
#bp-default .suffix_10 {
  padding-right: 400px;
}
#bp-default .suffix_11 {
  padding-right: 440px;
}
#bp-default .suffix_12 {
  padding-right: 480px;
}
#bp-default .suffix_13 {
  padding-right: 520px;
}
#bp-default .suffix_14 {
  padding-right: 560px;
}
#bp-default .suffix_15 {
  padding-right: 600px;
}
#bp-default .suffix_16 {
  padding-right: 640px;
}
#bp-default .suffix_17 {
  padding-right: 680px;
}
#bp-default .suffix_18 {
  padding-right: 720px;
}
#bp-default .suffix_19 {
  padding-right: 760px;
}
#bp-default .suffix_20 {
  padding-right: 800px;
}
#bp-default .suffix_21 {
  padding-right: 840px;
}
#bp-default .suffix_22 {
  padding-right: 880px;
}
#bp-default .suffix_23 {
  padding-right: 920px;
}
#bp-default .alpha {
  margin-left: 0;
}
#bp-default .omega {
  margin-right: 0;
}
#bp-default .push_1, #bp-default .push_2, #bp-default .push_3, #bp-default .push_4, #bp-default .push_5, #bp-default .push_6, #bp-default .push_7, #bp-default .push_8, #bp-default .push_9, #bp-default .push_10, #bp-default .push_11, #bp-default .push_12, #bp-default .push_13, #bp-default .push_14, #bp-default .push_15, #bp-default .push_16, #bp-default .push_17, #bp-default .push_18, #bp-default .push_19, #bp-default .push_20, #bp-default .push_21, #bp-default .push_22, #bp-default .push_23,
#bp-default .pull_1, #bp-default .pull_2, #bp-default .pull_3, #bp-default .pull_4, #bp-default .pull_5, #bp-default .pull_6, #bp-default .pull_7, #bp-default .pull_8, #bp-default .pull_9, #bp-default .pull_10, #bp-default .pull_11, #bp-default .pull_12, #bp-default .pull_13, #bp-default .pull_14, #bp-default .pull_15, #bp-default .pull_16, #bp-default .pull_17, #bp-default .pull_18, #bp-default .pull_19, #bp-default .pull_20, #bp-default .pull_21, #bp-default .pull_22, #bp-default .pull_23 {
  position: relative;
}
#bp-default .push_1 {
  left: 40px;
}
#bp-default .pull_1 {
  left: -40px;
}
#bp-default .push_2 {
  left: 80px;
}
#bp-default .pull_2 {
  left: -80px;
}
#bp-default .push_3 {
  left: 120px;
}
#bp-default .pull_3 {
  left: -120px;
}
#bp-default .push_4 {
  left: 160px;
}
#bp-default .pull_4 {
  left: -160px;
}
#bp-default .push_5 {
  left: 200px;
}
#bp-default .pull_5 {
  left: -200px;
}
#bp-default .push_6 {
  left: 240px;
}
#bp-default .pull_6 {
  left: -240px;
}
#bp-default .push_7 {
  left: 280px;
}
#bp-default .pull_7 {
  left: -280px;
}
#bp-default .push_8 {
  left: 320px;
}
#bp-default .pull_8 {
  left: -320px;
}
#bp-default .push_9 {
  left: 360px;
}
#bp-default .pull_9 {
  left: -360px;
}
#bp-default .push_10 {
  left: 400px;
}
#bp-default .pull_10 {
  left: -400px;
}
#bp-default .push_11 {
  left: 440px;
}
#bp-default .pull_11 {
  left: -440px;
}
#bp-default .push_12 {
  left: 480px;
}
#bp-default .pull_12 {
  left: -480px;
}
#bp-default .push_13 {
  left: 520px;
}
#bp-default .pull_13 {
  left: -520px;
}
#bp-default .push_14 {
  left: 560px;
}
#bp-default .pull_14 {
  left: -560px;
}
#bp-default .push_15 {
  left: 600px;
}
#bp-default .pull_15 {
  left: -600px;
}
#bp-default .push_16 {
  left: 640px;
}
#bp-default .pull_16 {
  left: -640px;
}
#bp-default .push_17 {
  left: 680px;
}
#bp-default .pull_17 {
  left: -680px;
}
#bp-default .push_18 {
  left: 720px;
}
#bp-default .pull_18 {
  left: -720px;
}
#bp-default .push_19 {
  left: 760px;
}
#bp-default .pull_19 {
  left: -760px;
}
#bp-default .push_20 {
  left: 800px;
}
#bp-default .pull_20 {
  left: -800px;
}
#bp-default .push_21 {
  left: 840px;
}
#bp-default .pull_21 {
  left: -840px;
}
#bp-default .push_22 {
  left: 880px;
}
#bp-default .pull_22 {
  left: -880px;
}
#bp-default .push_23 {
  left: 920px;
}
#bp-default .pull_23 {
  left: -920px;
}
#bp-default:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #996699;
  text-decoration: none;
}

em {
  font-style: italic;
}

.icon {
  display: block !important;
  text-indent: -10000px;
}

#header {
  *zoom: 1;
  width: 360px;
  display: block;
  float: left;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#header h1 {
  text-indent: -10000px;
  display: block;
  float: left;
  background: url(/images/winkle/logo.jpg) no-repeat;
  height: 112px;
  width: 350px;
  margin-bottom: 0;
}

#nav {
  *zoom: 1;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
  margin-top: 50px;
  margin-right: 0;
}
#nav:after {
  content: "";
  display: table;
  clear: both;
}
#nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
#nav li {
  *display: inline;
}
#nav li {
  margin: 0;
  margin-right: -5px;
}
#nav li a {
  color: #cccccc;
  background: url(/images/winkle/menu-bg.jpg) repeat-x;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;
  display: block;
  text-transform: uppercase;
}
#nav li a:hover {
  color: #cccc99;
}
#nav li:first-child a {
  background: url(/images/winkle/menu-bg-left.png) no-repeat;
  padding-left: 20px;
  padding-right: 20px;
}
#nav li:last-child a {
  background: url(/images/winkle/menu-bg-right.png) no-repeat;
  padding-left: 0;
  padding-right: 20px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  clear: both;
  background: white;
  padding-bottom: 20px;
  padding-top: 35px;
}
#container:after {
  content: "";
  display: table;
  clear: both;
}
#container #splash {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  height: 320px;
  border: 1px solid #dedede;
  margin: 35px;
  margin-top: 0;
  width: 890px;
  float: left;
  background: #efefef;
}
#container #content {
  position: relative;
  left: 40px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
  margin-left: 0;
  clear: both;
  border-top: 1px dotted #444444;
  padding: 20px 0;
}
#container #content h1, #container #content h2, #container #content h3, #container #content h4, #container #content h5, #container #content h6 {
  font-family: "DiavloMedium";
  color: #e99937;
  margin-bottom: 10px;
}
#container #content .author-box {
  width: 55px;
  float: right;
  margin-left: 15px;
}
#container #content .author-box p {
  margin-bottom: 0;
}
#container #content .post-content {
  *zoom: 1;
  position: relative;
  border-bottom: 1px dotted #444444;
}
#container #content .post-content:after {
  content: "";
  display: table;
  clear: both;
}
#container #content .post-content p {
  text-align: justify;
}
#container #content .date {
  font-size: 11px;
  color: #444444;
  float: right;
}
#container #content .postmetadata {
  float: left;
}
#container #sidebar {
  margin-right: 0;
  position: relative;
  left: 80px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  border: 1px solid #dedede;
  padding: 10px;
}

.about-pages h2 {
  color: #e99937;
  font-family: "DiavloMedium";
  margin-bottom: 10px;
}

#members-directory-form {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
  *zoom: 1;
  margin-left: 0;
}
#members-directory-form:after {
  content: "";
  display: table;
  clear: both;
}
#members-directory-form h3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 260px;
  margin-left: 0;
}
#members-directory-form ul {
  list-style-type: none;
}
#members-directory-form #members-dir-search {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-right: 0;
}
#members-directory-form #members-dir-search label {
  float: left;
  margin: 0;
}
#members-directory-form #members-dir-search input {
  float: left;
  margin-right: 10px;
}
#members-directory-form #members-dir-search input[type=text] {
  padding: 4px;
}
#members-directory-form .item-list-tabs {
  clear: both;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-left: 0;
}
#members-directory-form .item-list-tabs ul {
  margin-top: 10px;
}
#members-directory-form .item-list-tabs ul li {
  margin-left: 0;
}
#members-directory-form #subnav {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin-right: 0;
  position: relative;
  left: 40px;
  clear: none;
}
#members-directory-form #subnav ul {
  margin-top: 0;
}
#members-directory-form #subnav label {
  float: left;
  margin-top: 7px;
}
#members-directory-form #subnav select {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
#members-directory-form #members-dir-list {
  clear: both;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
  margin-left: 0;
}
#members-directory-form #members-dir-list .pagination {
  *zoom: 1;
  background: #d7b6ea;
  padding: 5px 10px;
}
#members-directory-form #members-dir-list .pagination:after {
  content: "";
  display: table;
  clear: both;
}
#members-directory-form #members-dir-list .pag-count {
  float: left;
}
#members-directory-form #members-dir-list #member-dir-pag-top {
  float: right;
}
#members-directory-form #members-dir-list #members-list li {
  *zoom: 1;
  margin-left: 0;
  padding: 10px;
  border-bottom: 1px dotted #444444;
}
#members-directory-form #members-dir-list #members-list li:after {
  content: "";
  display: table;
  clear: both;
}
#members-directory-form #members-dir-list #members-list .avatar {
  float: left;
  width: 50px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  margin-right: 10px;
}
#members-directory-form #members-dir-list #members-list .item {
  float: left;
}
#members-directory-form #members-dir-list #members-list .item .item-title {
  padding-bottom: 5px;
}
#members-directory-form #members-dir-list #members-list .item .item-meta {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  background: #f2eab5;
  border: 1px solid #e99937;
  padding: 3px 5px;
  color: #444444;
  font-size: 11px;
}

#register-page {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
  *zoom: 1;
}
#register-page:after {
  content: "";
  display: table;
  clear: both;
}
#register-page .register-section {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 260px;
  margin-left: 0;
}
#register-page .register-section .description {
  margin: 0;
  font-style: italic;
  font-size: 10px;
  color: #999999;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  *zoom: 1;
  clear: both;
  margin-top: 10px;
  color: #efefef;
}
#footer:after {
  content: "";
  display: table;
  clear: both;
}
