/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../../../app/stylesheets/farora/main.sass */
body {
  background: #131313 url(/images/farora/bg1.jpg) no-repeat top center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: white;
  width: 100%;
}

/* line 17, ../../../../app/stylesheets/farora/main.sass */
#container {
  margin: 0 auto;
  overflow-x: hidden;
}

/* line 21, ../../../../app/stylesheets/farora/main.sass */
ul {
  list-style-type: none;
}

/* line 24, ../../../../app/stylesheets/farora/main.sass */
a {
  color: white;
  text-decoration: none;
}
/* line 29, ../../../../app/stylesheets/farora/main.sass */
a:hover {
  color: #999999;
}

/* line 32, ../../../../app/stylesheets/farora/main.sass */
.inner-container {
  width: 1024px;
  margin: 0 auto;
}

/* line 1, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup {
  background: white;
  border: solid 1px #999999;
  padding: 2px;
  text-align: center;
  width: 160px;
}
/* line 7, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table {
  border-collapse: collapse;
  width: 160px;
}
/* line 10, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table .monthCell {
  padding: 2px 0;
}
/* line 12, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table .monthCell a {
  display: block;
  float: left;
  line-height: 20px;
}
/* line 16, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table .monthCell .prevMonth, .calendricalDatePopup table .monthCell .nextMoth {
  width: 24px;
}
/* line 18, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table .monthCell .monthName {
  width: 110px;
}
/* line 20, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table a {
  text-decoration: none;
}
/* line 22, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table td {
  text-align: center;
  font-size: 12px;
  padding: 0;
}
/* line 26, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table td a {
  display: block;
  color: black;
  padding: 2px 3px;
}
/* line 30, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table td a:hover {
  background: #ccccff;
  border: none;
  padding: 2px 3px;
}
/* line 34, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table td.today a {
  background: #eeeebb;
}
/* line 36, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table td.selected a {
  background: #ccccff;
}
/* line 38, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table td.today_selected a {
  background: #eeeebb;
  border: solid 1px #dddd66;
  padding: 1px 2px;
}
/* line 42, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalDatePopup table td.nonMonth a {
  color: #999999;
}

/* line 45, ../../../../app/stylesheets/farora/_calendrical.sass */
.calendricalEndTimePopup {
  width: 160px;
}

/* line 1, ../../../../app/stylesheets/farora/_footer.sass */
#footer {
  background: #131313;
  clear: both;
  *zoom: 1;
  padding: 25px 0;
  padding-left: 30px;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 8, ../../../../app/stylesheets/farora/_footer.sass */
#footer ul {
  width: 1024px;
  margin: 0 auto;
  *zoom: 1;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#footer ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 12, ../../../../app/stylesheets/farora/_footer.sass */
#footer ul li {
  float: left;
  width: 220px;
  margin-left: 20px;
  font-size: 0.9em;
}
/* line 21, ../../../../app/stylesheets/farora/_footer.sass */
#footer ul li ul li {
  padding: 3px 0;
  float: none;
}
/* line 25, ../../../../app/stylesheets/farora/_footer.sass */
#footer ul li ul h4 {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #ffb628;
  padding-bottom: 20px;
}
/* line 33, ../../../../app/stylesheets/farora/_footer.sass */
#footer a {
  color: white;
}
/* line 36, ../../../../app/stylesheets/farora/_footer.sass */
#footer a:hover {
  color: #999999;
}

/* line 1, ../../../../app/stylesheets/farora/_header.sass */
#header {
  background: #131313;
  padding: 15px;
  padding-left: 50px;
  height: 20px;
  *zoom: 1;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 8, ../../../../app/stylesheets/farora/_header.sass */
#header h1 {
  text-indent: -10000px;
  background: url(/images/farora/logo.png) no-repeat;
  width: 108px;
  height: 18px;
  float: left;
}
/* line 16, ../../../../app/stylesheets/farora/_header.sass */
#header .tagline {
  color: #6e6e6e;
  font-style: italic;
  padding-left: 5px;
  padding-top: 5px;
  float: left;
}

/* line 1, ../../../../app/stylesheets/farora/_index.sass */
#index-main {
  *zoom: 1;
  height: 550px;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#index-main:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 5, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset {
  background-color: #303030;
  color: white;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  padding: 30px;
  padding-top: 20px;
  float: right;
  width: 570px;
  margin-top: 50px;
  margin-right: 90px;
  margin-bottom: 50px;
}
/* line 18, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset h3 {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 23, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset em {
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
}
/* line 28, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset em a {
  color: #47a3ff;
  text-decoration: underline;
}
/* line 33, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol {
  *zoom: 1;
  background: #a6a6a6;
  padding: 40px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 40px;
  color: black;
  margin-top: 15px;
  counter-reset: item;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-head@hamlicious/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#index-main fieldset ol:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 45, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li {
  float: left;
  list-style-position: inside;
  margin-right: 15px;
  margin-bottom: 20px;
}
/* line 53, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li:before {
  content: counter(item) ".";
  counter-increment: item;
}
/* line 57, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li.no-count {
  counter-increment: item -1;
  content: counter(item, " ");
}
/* line 61, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li.no-count:before {
  content: "";
}
/* line 63, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li.commit {
  padding-top: 20px;
  margin-right: 0 !important;
  width: 100%;
  text-align: center;
}
/* line 72, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li.after-count, #index-main fieldset ol li.type-of-service, #index-main fieldset ol li.additional-services {
  clear: both;
}
/* line 78, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li.type-of-service select {
  margin-bottom: 5px;
}
/* line 83, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li.price input {
  width: 50px;
  height: 18px;
}
/* line 87, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li .date {
  width: 115px;
  margin-right: 20px;
}
/* line 92, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li label {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 98, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li input {
  display: block;
  padding: 5px;
  font-size: 0.9em;
  border: 1px solid #cccccc;
  color: black;
  width: 180px;
  margin-top: 5px;
  height: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 111, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li input.salon {
  width: 260px;
}
/* line 113, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li input[disabled] {
  background: #b8b8b8;
  border: 1px solid #b8b8b8;
}
/* line 118, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li select {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: block;
  font-size: 0.9em;
  padding: 5px;
  color: black;
  background: white;
  border: 0;
  height: 30px;
  width: 194px;
  margin-top: 5px;
}
/* line 132, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li .submit {
  font-size: 1em;
  font-weight: bold;
  width: 120px;
  height: 30px;
  text-transform: uppercase;
  margin: 0 auto;
  border: none;
  color: white;
  cursor: pointer;
  background: url('/images/farora/buttons.png?1298224770') no-repeat;
  width: 500;
  height: 50;
  overflow: hidden;
  background-position: 0px -64px;
}
/* line 147, ../../../../app/stylesheets/farora/_index.sass */
#index-main fieldset ol li .submit:hover {
  background-position: 0px -96px;
}

/* line 1, ../../../../app/stylesheets/farora/_nav.sass */
#nav {
  float: right;
  padding-top: 5px;
  font-size: 0.9em;
}
/* line 8, ../../../../app/stylesheets/farora/_nav.sass */
#nav ul {
  width: 650px;
  margin: 0;
  padding: 0;
}
/* line 13, ../../../../app/stylesheets/farora/_nav.sass */
#nav ul li {
  text-align: right;
  margin-right: 0;
  display: inline;
  padding-left: 20px;
}
/* line 21, ../../../../app/stylesheets/farora/_nav.sass */
#nav ul li a {
  color: white;
  text-decoration: none;
}
/* line 25, ../../../../app/stylesheets/farora/_nav.sass */
#nav ul li a:hover {
  color: #9b9b9b;
}
/* line 28, ../../../../app/stylesheets/farora/_nav.sass */
#nav ul li a.invite-friends-link {
  color: #ffb431;
}
/* line 32, ../../../../app/stylesheets/farora/_nav.sass */
#nav ul li em a {
  color: #93c9ff;
}
