@charset "UTF-8";
/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */
@font-face {
  font-family: "MuseoSlab500";
  font-weight: normal;
  font-style: normal;
  src: url("museo_slab_500-webfont.eot");
  src: local("☺"), url("museo_slab_500-webfont.woff") format("woff"), url("museo_slab_500-webfont.ttf") format("truetype"), url("museo_slab_500-webfont.svg#webfontoDo94HPg") format("svg");
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color: #329ac8;
}
#content #map {
  border: 1px solid #cccccc;
  height: 370px;
  margin: 20px 0;
}
#content #quiz .correct-answer, #content #quiz .wrong-answer {
  color: #016800;
  padding: 0;
  padding-left: 20px;
}
#content #quiz .wrong-answer {
  color: #cb0000;
}
#content #quiz .action-links {
  position: relative;
  background: #f2f2f2;
  border: 1px solid #cccccc;
  padding: 15px;
}
#content #quiz .action-links .submit-quiz {
  float: right;
}

.search-box {
  *zoom: 1;
  margin-top: 10px;
  padding: 10px;
  background: #d0ebfe;
}
.search-box:after {
  content: "";
  display: table;
  clear: both;
}
.search-box p {
  margin: 0;
  padding: 0;
}
.search-box input {
  margin-left: 10px;
}

.sort-by {
  background: #cccccc;
  padding: 10px;
  margin-top: 10px;
}
.sort-by p {
  margin: 0;
  padding: 0;
}
.sort-by strong {
  color: #999999;
}

.quiz-description {
  margin-bottom: 0 !important;
  width: 640px;
}

.quiz-photo {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.challenge-quiz {
  font-size: 1em !important;
}

#header {
  position: relative;
  height: 180px;
  background: #313131 url(/images/idq/header-no-pins.jpg) no-repeat bottom center;
  padding-top: 10px;
}
#header #login-box, #header #welcome-message {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: #666666;
  font-weight: bold;
  font-size: 1.1em;
}
#header #login-box a, #header #welcome-message a {
  text-decoration: underline;
}
#header #welcome-message {
  font-weight: normal;
}
#header #welcome-message a {
  text-decoration: none;
  font-size: 0.8em;
}
#header #sub-heading {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 400px;
  font-size: 1.2em;
  color: #0069a0;
}

#footer {
  padding: 0 10px;
  margin-top: 10px;
  border-top: 5px double #cccccc;
}

input[type=image] {
  vertical-align: middle;
}

input[type=submit] {
  background: url(/images/idq/submit-bg.png) repeat-x;
  border: 1px solid #984c02;
  color: white;
  font-weight: bold;
}

label {
  font-weight: bold;
}

form fieldset li label {
  display: block;
}
form fieldset li input[type=image] {
  padding-top: 20px;
}

input[type=checkbox],
.checkbox-label {
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: 100;
}

#lightbox {
  position: relative;
}
#lightbox h3 {
  color: #329ac8;
}
#lightbox strong {
  font-size: 1.3em;
  font-weight: bold;
}
#lightbox p {
  *zoom: 1;
  margin: 5px 0;
  padding: 0;
}
#lightbox p:after {
  content: "";
  display: table;
  clear: both;
}
#lightbox label {
  float: left;
  display: inline-block;
  width: 100px;
}
#lightbox input {
  width: 250px;
}
#lightbox input[type=submit] {
  width: 100px;
}
#lightbox .additional-field {
  padding: 0 10px;
}

#fancybox-close {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  display: block !important;
  background: url("/images/idq/close-button.jpg") no-repeat !important;
  top: 10px !important;
  right: 0 !important;
}

ul {
  margin-top: 10px;
  list-style-position: inside;
}
ul li {
  *zoom: 1;
  margin-top: 10px;
}
ul li:after {
  content: "";
  display: table;
  clear: both;
}
ul.bordered li {
  *zoom: 1;
  border-bottom: 1px solid #cccccc;
  padding-top: 10px;
}
ul.bordered li:after {
  content: "";
  display: table;
  clear: both;
}
ul.bordered li:first-child {
  border-top: 1px solid #cccccc;
}
ul.action-links li {
  margin-top: 5px;
}
ul.action-links li a {
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 5px 10px;
  background: #f2f2f2;
  border: 1px solid #cccccc;
  display: block;
  text-align: center;
}
ul.quiz-list li, ul.quiz-stats li, ul.quiz-list-result li {
  display: list-item;
  list-style-image: url(/images/idq/blue-bullet.png);
  list-style-position: inside;
}
ul.quiz-list li a, ul.quiz-stats li a, ul.quiz-list-result li a {
  font-size: 1.3em;
}
ul.quiz-list li p, ul.quiz-stats li p, ul.quiz-list-result li p {
  margin: 0;
  margin-bottom: 10px;
}
ul.quiz-list li p.release-date, ul.quiz-stats li p.release-date, ul.quiz-list-result li p.release-date {
  padding-top: 10px;
  color: #999999;
  font-size: 0.8em;
}
ul.quiz-stats li {
  border-top: 0 !important;
  margin-top: 0;
}
ul.quiz-list-result li {
  position: relative;
  display: block;
  border-bottom: 1px solid #cccccc;
}
ul.quiz-list-result li ul li {
  border-bottom: 0;
}
ul.inline-bullet-list {
  margin: 0;
  *zoom: 1;
}
ul.inline-bullet-list:after {
  content: "";
  display: table;
  clear: both;
}
ul.inline-bullet-list li {
  float: left;
  display: inline-block;
  display: list-item;
  list-style-image: url(/images/idq/blue-bullet.png);
  list-style-position: inside;
  margin-right: 10px;
}
ul.minor-detail-list {
  *zoom: 1;
  margin: 0;
  color: #999999;
}
ul.minor-detail-list:after {
  content: "";
  display: table;
  clear: both;
}
ul.minor-detail-list li {
  float: left;
  display: inline-block;
  border-right: 1px solid #cccccc;
  font-size: 0.9em;
  padding: 0 5px;
}
ul.minor-detail-list li:first-child {
  padding-left: 0;
}
ul.minor-detail-list li:last-child {
  border: 0;
}
ul.minor-detail-list li a {
  font-size: inherit;
}

ol {
  font-weight: bold;
  font-size: 1.2em;
  list-style-position: inside;
  list-style-type: decimal;
}

.quiz-questions {
  list-style-position: inside;
}
.quiz-questions li {
  margin-top: 20px;
}

.faq {
  margin-top: 10px;
}
.faq li {
  margin-bottom: 20px;
  font-size: 0.8em;
}
.faq p {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-left: 20px;
  font-weight: 100;
}

.choices {
  margin: 15px;
  font-size: 0.9em;
  font-weight: 100;
}
.choices li {
  margin-top: 5px;
}

.link-list {
  margin: 0;
  margin-top: 20px;
}
.link-list li {
  margin: 0;
}

.friend-list {
  *zoom: 1;
}
.friend-list:after {
  content: "";
  display: table;
  clear: both;
}
.friend-list li {
  float: left;
  display: inline-block;
  width: 50px;
  overflow: none;
  margin-right: 20px;
}
.friend-list li label {
  font-weight: 100;
  font-size: 0.8em;
  color: #329ac8;
}
.friend-list li input[type=checkbox] {
  display: inline;
  padding: 0;
  margin: 0;
}

#nav, #sub-nav {
  *zoom: 1;
  position: relative;
  background: #666666 url(/images/idq/nav-bg.jpg) repeat-x;
  clear: both;
  height: 38px;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
#nav:after, #sub-nav:after {
  content: "";
  display: table;
  clear: both;
}
#nav li, #sub-nav li {
  float: left;
  display: inline-block;
  margin: 0;
  height: 38px;
}
#nav li.presented, #sub-nav li.presented {
  position: absolute;
  right: 0;
  text-transform: uppercase;
  bottom: -10px;
  color: white;
  font-size: 0.7em;
  padding-right: 10px;
}
#nav li a, #sub-nav li a {
  display: block;
  color: #a4a4a4;
  padding: 10px 15px;
  height: 18px;
}
#nav li a.current-tab, #sub-nav li a.current-tab, #nav li a:hover, #sub-nav #nav li a:hover, #nav #sub-nav li a:hover, #nav #sub-nav li a:hover, #sub-nav #nav li a:hover, #sub-nav li a:hover {
  background: #329ac8;
  color: white;
}
#nav li a:hover, #sub-nav li a:hover {
  text-decoration: none;
}

#sub-nav {
  background: #329ac8;
  font-size: 1.1em;
  height: 38px;
}
#sub-nav li a {
  padding: 10px 15px;
  color: white;
}
#sub-nav li a.current-tab, #sub-nav #nav li a:hover, #nav #sub-nav li a:hover, #sub-nav li a:hover {
  font-weight: bold;
  text-decoration: underline;
}
#sub-nav li a:hover {
  font-weight: normal;
}

.updated {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px 0px 10px black;
  -o-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  background: red;
  padding: 1px 5px;
  margin-left: 5px;
  font-size: 0.8em;
}
.updated a {
  display: inline;
  padding: 0;
}

.pagination-section {
  font-size: 0.9em;
  font-weight: bold;
  color: #999999;
  text-align: center;
  border-top: 0px solid #999999;
  padding: 5px;
}
.pagination-section .small-caps {
  font-weight: normal;
}

.pagination {
  text-align: center;
  margin: 30px 0 15px;
}
.pagination a {
  font-weight: normal;
  text-decoration: none;
  border: 1px solid #999999;
  margin: 0 2px;
  padding: 1px 5px;
}
.pagination a:hover, .pagination a:active {
  color: #ff9900;
}
.pagination span.current {
  font-weight: bold;
  color: white;
  background: #999999;
  border: 1px solid #999999;
  margin: 0 2px;
  padding: 1px 5px;
}
.pagination span.disabled {
  color: #dddddd;
  border: 1px solid #eeeeee;
  margin: 0 2px;
  padding: 1px 5px;
}

#profile #profile-box {
  *zoom: 1;
  background: #f2f2f2;
  padding: 10px;
  padding-left: 20px;
  padding-top: 15px;
  border: 1px solid #cccccc;
}
#profile #profile-box:after {
  content: "";
  display: table;
  clear: both;
}
#profile .profile-details {
  float: left;
  display: inline-block;
  width: 180px;
  margin: 0;
  padding: 0;
}
#profile .profile-details .profile-name {
  font-size: 1.3em;
  font-weight: bold;
}
#profile .profile-details .profile-rank {
  padding-top: 20px;
  display: block;
  color: #329ac8;
}
#profile .profile-stats {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  float: left;
  display: inline-block;
  margin-top: 0;
  margin-right: 10px;
  background: white;
  padding: 10px;
  width: 145px;
  text-align: center;
}
#profile .profile-stats .stat-name {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}
#profile .profile-stats .stat-value {
  font-size: 3em;
  display: block;
}
#profile .recent-history {
  margin-top: 20px;
  border-collapse: collapse;
}
#profile .recent-history th {
  text-align: center;
}
#profile .recent-history th:first-child {
  text-align: left;
}
#profile .recent-history td {
  text-align: center;
  padding: 0 10px;
  padding-bottom: 5px;
}
#profile .recent-history td:first-child {
  text-align: left;
}
#profile .recent-history td.action-value {
  padding-top: 10px;
  font-size: 1.3em;
}
#profile .recent-history tr.row-border {
  border-bottom: 1px solid #cccccc;
}
#profile #level-up {
  *zoom: 1;
  margin-top: 20px;
}
#profile #level-up:after {
  content: "";
  display: table;
  clear: both;
}
#profile #level-up h3 {
  padding: 0;
}
#profile #level-up p {
  padding: 0;
  font-size: 1.3em;
  color: #329ac8;
}
#profile #level-up img {
  float: right;
}

#sidebar h5 {
  margin-top: 5px;
}
#sidebar p {
  padding-top: 0;
}
#sidebar .activity {
  width: 180px;
}
#sidebar .feature-box {
  margin-top: 20px;
}
#sidebar .feature-box h4 {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #ff9900;
  padding: 10px;
  color: black;
  font-weight: bold;
}
#sidebar .feature-box .box-content {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f2f2f2;
  border: 1px solid #ff9900;
  padding: 10px;
}
#sidebar .quiz-image {
  display: block;
  width: 270px;
  height: 145px;
  border: 1px solid #cccccc;
}
#sidebar #leaderboard p {
  margin: 0;
  padding: 0;
}
#sidebar #leaderboard table {
  padding-top: 10px;
}
#sidebar #leaderboard table th {
  text-transform: uppercase;
  font-size: 0.8em;
}
#sidebar #leaderboard table th,
#sidebar #leaderboard table td {
  text-align: center;
  padding-bottom: 10px;
}
#sidebar #leaderboard table th:first-child,
#sidebar #leaderboard table td:first-child {
  text-align: left;
}
#sidebar #my-challenges .action-links {
  padding: 0;
  padding-left: 50px;
  padding-bottom: 10px;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  clear: both;
}
#sidebar #my-challenges .action-links a {
  padding: 0 10px;
}
#sidebar #new-quizzes p,
#sidebar #recommended-quizzes p {
  padding: 0;
}
#sidebar #challenge-a-friend {
  padding-bottom: 10px;
}
#sidebar #contact-us {
  padding-bottom: 10px;
}
#sidebar .contact-box {
  margin: 10px 0;
  padding: 10px;
  background: #f2f2f2;
  border: 1px solid #cccccc;
}

#sub-content h5 {
  margin-top: 5px;
}
#sub-content .quiz-sub-box {
  margin-bottom: 10px;
  border: 1px solid #cccccc;
}
#sub-content .quiz-sub-box h4 {
  background: #cccccc;
  color: black;
  padding: 5px 0;
  text-align: center;
}
#sub-content .quiz-sub-box .started, #sub-content .quiz-sub-box .results {
  color: #d30004;
  background: #ffffcf !important;
}
#sub-content .quiz-sub-box .results {
  margin: 0;
  padding: 10px;
  padding-top: 0;
  color: #666666;
}
#sub-content .quiz-sub-box .results li {
  border-top: 1px solid #cccccc;
}
#sub-content .quiz-sub-box .results li:first-child {
  border: 0;
  margin: 0;
}
#sub-content .quiz-sub-box .results li p {
  margin: 0;
}
#sub-content .quiz-sub-box .results .passed {
  font-size: 2em;
  color: #016800;
  text-align: center;
  margin: 0;
}
#sub-content #time-left #start-quiz {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  border: 1px solid black;
  background: #ed352d;
  line-height: 30px;
  padding: 5px 10px;
  color: white;
}
#sub-content #time-left p {
  background: #f2f2f2;
  padding: 5px 10px;
  color: #999999;
  text-align: center;
  margin: 0;
  font-weight: bold;
}
#sub-content #time-left p .time {
  font-size: 3em;
}
#sub-content #time-left p .time-unit {
  font-size: 1.5em;
}

table {
  width: 100%;
}
table .heading {
  text-transform: uppercase;
  width: 100%;
  background: #cccccc;
  color: #333333;
}
table th {
  font-weight: bold;
  padding: 10px;
  font-size: 0.8em;
}

.pin-table {
  border-collapse: collapse;
  margin-bottom: 30px;
}
.pin-table td {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
}
.pin-table img {
  vertical-align: middle;
  margin-right: 10px;
}

.section-footer {
  text-transform: uppercase;
  font-size: 0.9em;
}

.avatar {
  float: left;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.activity {
  float: left;
  display: inline-block;
  margin: 0;
  padding-top: 0;
  width: 400px;
}

.time-ago {
  font-size: 0.8em;
  color: #999999;
}

.clear {
  clear: both;
}

.centered {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.button-link {
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: url(/images/idq/button-link-bg.jpg) repeat-x;
  font-size: 0.9em !important;
  font-weight: bold;
  color: #34afd0;
  padding: 3px 10px;
}

.padded-box {
  padding: 10px;
}

body {
  background: #323232;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

#container {
  width: 980px;
  margin: 0 auto;
  background: white;
  padding: 0;
  padding-bottom: 10px;
}
#container #main {
  *zoom: 1;
  background: url(/images/idq/body-bg.gif) repeat-y;
  margin-top: 10px;
}
#container #main:after {
  content: "";
  display: table;
  clear: both;
}
#container #main #sub-content {
  float: left;
  display: inline-block;
  width: 170px;
  padding: 10px;
}
#container #main #content {
  float: left;
  display: inline-block;
  width: 470px;
  padding: 10px;
}
#container #main #sidebar {
  float: left;
  display: inline-block;
  width: 270px;
  padding: 10px;
}
#container #main-left {
  *zoom: 1;
  background: url(/images/idq/body-bg-left.gif) repeat-y;
  margin-top: 10px;
}
#container #main-left:after {
  content: "";
  display: table;
  clear: both;
}
#container #main-left #sub-content {
  float: left;
  display: inline-block;
  width: 170px;
  padding: 10px;
  border-right: 1px solid #cccccc;
}
#container #main-left #content {
  float: left;
  display: inline-block;
  width: 750px;
  padding: 10px;
}
#container #main-right {
  *zoom: 1;
  background: url(/images/idq/body-bg-right.gif) repeat-y;
  margin-top: 10px;
}
#container #main-right:after {
  content: "";
  display: table;
  clear: both;
}
#container #main-right #content {
  float: left;
  display: inline-block;
  width: 660px;
  padding: 10px;
}
#container #main-right #sidebar {
  float: left;
  display: inline-block;
  width: 280px;
  padding: 10px;
}

a {
  color: #003f92;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 10px 0;
  padding-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MuseoSlab500", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #329ac8;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}
