#header {
  height: 110px; }
  #header #logo {
    float: left;
    background: url(../../images/leafnode/logo.jpg) no-repeat;
    text-indent: -10000px;
    width: 360px;
    height: 90px; }
  #header #top-nav {
    float: right;
    text-align: right;
    margin-top: 25px;
    margin-right: 40px; }
    #header #top-nav a {
      font-weight: bold;
      text-decoration: none; }
    #header #top-nav ul {
      margin-bottom: 10px; }
      #header #top-nav ul li {
        padding-left: 10px;
        display: inline; }
    #header #top-nav #contact-number {
      font-style: italic; }
    #header #top-nav #shopping-cart {
      border: 1px solid #ccc;
      padding: 2px;
      float: right;
      margin-top: 10px; }
      #header #top-nav #shopping-cart p {
        color: #fff;
        background: #ff0099;
        float: left;
        margin: 0;
        padding: 3px 5px; }
