
#about.main
  %h2 About Us

  %p.founders
    = image_tag("farora/founders.png", :alt => "Marisa and Enrique, Founders", :title => "Marisa and Enrique, Founders")
  
  .sub-content
    %p Farora helps users book their hair and spa appointments online with just a click of a button.

    %p Never before has it been so easy to search and book available hair and spa appointments 24/7. 

    %p The Farora community also includes a social media component that allows users to add friends,refer a stylist, write a review on a stylist/salon, and exchange messages.

    %p Join the Farora community today!