#contact.main
  %h2 Contact Us
  
  %p Have a question or a suggestion? Just send us an email and we will get back to you within 24 hours. Make sure to check out our FAQ page to view answers to frequently asked questions.
  
  %form
    %fieldset
      %ul
        %li
          %label Your Email
          %input{:type => "text", :size => 30}
        %li
          %label Type
          %ul.radios
            %li
              %input{:type => "radio", :class => "radio", :name => "person_type[]"}
              %label Business Owner
            %li
              %input{:type => "radio", :class => "radio", :name => "person_type[]"}
              %label Customer
        %li
          %label Subject
          %select
            %option General Inquiries
            %option Business Technical Support
            %option Billing Inquiry
            %option Other
        %li
          %label Message
          %textarea{:rows => 10, :cols => 80}
          
        %li.commit
          %input{:type => "submit", :value => "Send", :class => "submit"}
            