.main.inner-container
  %form
    %fieldset
      %ul
        %li
          %label From:
          %input{:type => "text", :value => "Marissa Oge"}
        %li
          %label From:
          %textarea{:rows => 2, :cols => 50}
        %li
          %label From:
          %textarea{:rows => 2, :cols => 50}