#index-main
  %form
    %fieldset
      %h3
        %span.city Farora Boston,
        = link_to "not your city", "/"
    
      %ol
        %li
          %label Location
          %input{:size => 15, :value => "Boston, MA"}
        %li
          %label Pick a Salon or Spa
          %input{:size => 20, :value => "Type in Salon / Spa Name or Search All"}
        %li
          %label Type of Service
          %select
            %option Any Service
            %option Any Service
            %option Any Service
            %option Any Service
          %select
            %option Any Service
            %option Any Service
            %option Any Service
            %option Any Service
          %select
            %option Any Service
            %option Any Service
            %option Any Service
            %option Any Service
          %select
            %option Any Service
            %option Any Service
            %option Any Service
            %option Any Service
        %li
          %label Stylist
          %select
            %option Any Stylist
            %option Any Stylist
            %option Any Stylist
            %option Any Stylist
          %select
            %option Any Stylist
            %option Any Stylist
            %option Any Stylist
            %option Any Stylist
          %select
            %option Any Stylist
            %option Any Stylist
            %option Any Stylist
            %option Any Stylist
          %select
            %option Any Stylist
            %option Any Stylist
            %option Any Stylist
            %option Any Stylist
          %label Price
          %input{:disabled => true}
          %input{:disabled => true}
          %input{:disabled => true}
          %input{:disabled => true}
        %li 
          %label Date
          %input{:id => "date", :readonly => "readonly"}
        %li
          %label Start Time
          %input{:id => "start-time", :readonly => "readonly"}
        %li
          %label End Time
          %input{:id => "end-time", :readonly => "readonly"}