#fancybox-content
  .main
    %h2 Not your City?
    
    %form
      %fieldset
        %ul
          %li
            %label Choose State:
            %select
              %option Boston
              %option Alaska
              %option Alabama
              %option Arizona
              
          %li.commit
            %input{:type => "submit", :class => "submit", :value => "Choose City"}