.pagination-section
  .pagination
    %span.disabled.prev_page « Previous
    %span.current 1
    = link_to "2", "/"
    = link_to "3", "/"
    %span.gap ...
    = link_to "20", "/"
    = link_to "Next »", "/", :class => "next_page"
