.result-description
  %p
    You've searched for:
    %strong Any Service
    with
    %strong Any Salon &amp; Spa
    on
    %strong Tuesday, 02/25/2011
    at
    %strong 10 am
    [
    = link_to "edit search", "#", :class => "edit-search-link"
    ]
