%ul.review-results
  %li
    %h2 Best Asian Hair Stylist
    .ratings
      %form
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
    %p 
      Who, in your opinion, makes the Asian Hair in Boston? My friends and I all love a good burger and if we've missed any, want to know about Who, in your opinion, makes the Asian Hair in Boston? My friends and I all love a good burger and if we've missed any, want to know about ...
      %br
      [
      = link_to " read full review ", "#"
      ]
    %p.post-details
      %span.author 
        Posted by:
        = link_to "Marisa O.", '#'
      %span.date-posted
        Date posted Mar. 23, 2006
  %li
    %h2 Best Asian Hair Stylist
    .ratings
      %form
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/

    %p 
      Who, in your opinion, makes the Asian Hair in Boston? My friends and I all love a good burger and if we've missed any, want to know about Who, in your opinion, makes the Asian Hair in Boston? My friends and I all love a good burger and if we've missed any, want to know about ...
      %br
      [
      = link_to " read full review ", "#"
      ]
    %p.post-details
      %span.author 
        Posted by:
        = link_to "Marisa O.", '#'
      %span.date-posted
        Date posted Mar. 23, 2006