- @body_class = "index"

#index-main.inner-container
  %form
    %fieldset
      %h3
        Sign up to become a Farora member!
    
      %ol
        %li
          %label 
            First Name
          %input{:size => 20, :id => "first_name"}
        %li
          %label Last Name
          %input{:size => 20, :id => "last_name"}
        %li
          %label Email Address
          %input{:size => 50, :id => "email_address"}
        %li
          %label Verification Code
          .simple_captcha_field
            %input#user_captcha{:name => "user[captcha]", :size => "30", :type => "text", :value => ""}
              %input#user_captcha_key{:name => "user[captcha_key]", :type => "hidden", :value => "10ab9797df72e0cc28f7a3071e402da790dd30f5"}
          .simple_captcha_image
            %img{:alt => "simple_captcha.jpg", :src => "http://www.farora.com/simple_captcha/simple_captcha?distortion=medium&image_style=none&simple_captcha_key=10ab9797df72e0cc28f7a3071e402da790dd30f5&time=1302111597"}
        %li.no-count.commit
          %input{:type => "submit", :class => "submit", :value => "Sign up"}
          %p
            By clicking this button, I agree to Faroras
            = link_to "User Agreement. ", "/"
            %br
            Already a member?
            = link_to "Log in", "/"
            