.main

  %h1 User Agreement:

  %p This USER Agreement (the "Agreement") and the policies referred to herein contain the complete terms and conditions that apply to your use of the salon and or spa reservation services (the "Services") being offered at the URL: http://www.farora.com and all affiliated web sites owned and operated solely by Farora (collectively, the "Farora Site"). As used in this Agreement, "Farora" refers to Farora, LLC and any of its subsidiaries, and "USER" or "you" refers to you. USE OF THE SERVICES AND THE FARORA SITE CONSTITUTES KNOWING ACCEPTANCE AND ACKNOWLEDGEMENT OF THIS USER AGREEMENT, FARORA'S PRIVACY POLICY, AND FARORA’S SALON & SPA REWARDS TERMS AND CONDITIONS. 
  
  %p Farora may modify this Agreement's terms and conditions at any time without notice. Continued use of the Services and the Farora Site after a change in this Agreement, a change in the Privacy Policy, or after implementation of any other new policy constitutes acceptance of such change or policy. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT OR ANY REVISED VERSION OF THIS AGREEMENT, PLEASE DO NOT USE THIS SITE.

  %ol
    %li 
      %h3 WHAT WE DO
      %p Farora provides the Services to USER for the purpose of assisting USER in securing salon and or spa reservations at participating third party salons/spas (each a "Salon” and or “Spa"). In response to a USER's online request, the Farora Site directly contacts the Salon’s and or Spa’s computerized database of reservations. The availability of reservations is determined at the time of USER's query. Once a reservation is made by USER, Farora will provide confirmation of the reservation to USER by email. By using the Services, USER agrees to receive reservation confirmations by email after booking a reservation through the Farora Site.

    %li
      %h3 NO SHOW POLICY
      %p Farora is committed to providing superior quality services to its USERS and Salons/Spas. To assist us in maintaining a consistently high level of service with the participating Salons and Spas and patrons, USERS are asked to cancel any reservations that they will be unable to honor at least 1 hour in advance of the reservation time. You may be required to cancel your reservation in accordance with that Salon or Spa’s individual cancellation policy, which will always be shared with the USER at the time the reservation is made. You may cancel your reservation online or call the Salon or Spa directly.

      %p If you are unable to keep your reservation and you fail to cancel, Farora will send you an email letting you know that our records indicate that you were a no-show. By using the Services, USER agrees to receive no-show confirmations by email after a Salon or Spa and/or the Farora Site reports your reservation was not honored, whether or not that was in fact the case. Your Farora account will be terminated if you no-show for four reservations within the same twelve-month period. If you receive a no-show confirmation email in error, please click here for information on how to dispute it. USER agrees that all final no-show determination will be made by Farora in its sole discretion.

    %li
      %h3 PRIVACY POLICY
      %p Farora is committed to safeguarding your privacy online. Please review our privacy policy.

    %li
      %h3 USAGE GUIDELINES
      %p The Services are being offered to USER for USER's personal use. USER agrees to use the Services only to book reservations at participating Salons/Spas and then honor those reservations by arriving at the Salon(s) and or Spa(s) on time and paying for a service(s)/product(s). USER further agrees not to book more than one (1) reservation for USER's personal use during any one service time. Resale or attempted resale of reservations is prohibited, and is grounds for, among other things, cancellation. Farora expressly reserves all its rights and remedies under applicable state and federal law.

      %p Any and all other uses which are unlawful or in violation of this Agreement's terms and conditions are prohibited. Farora reserves the right, in its sole discretion, to refuse service, terminate accounts, remove or edit content, or cancel reservations.

    %li
      %h3 FARORA REWARDS
      %p USER may be able to participate in Farora's USER benefits program, Farora REWARDS. Participation is subject to Farora Rewards Terms and Conditions.

    %li
      %h3 EMAIL POLICY
      %p USER may be able to participate in Farora's USER benefits program, Farora REWARDS. Participation is subject to Farora Rewards Terms and Conditions.

    %li
      %h3 INTELLECTUAL PROPERTY AND GRANT OF RIGHTS TO USER
      %p The materials and services provided for and depicted on the Farora Site are protected by copyright, trademark, patent and other intellectual property laws. All text, graphics, video, data or other content on the Farora Site ("Farora Content") is provided to USER by Farora for the sole purpose of using the Services. USER shall not copy, display, modify, create derivative works of, publish, or sell the Farora Content or any information, software, or services provided by Farora hereunder. The Farora Content may be modified from time to time by Farora in its sole discretion. Except as expressly set forth herein, no license is granted to USER for any other purpose, and any other use of the Services or the Farora Content by USER shall constitute a material breach of this Agreement. Nothing in this Agreement shall affect any rights of Farora or its licensors in the Services or Farora Content, and any associated patents, trademarks, copyrights, mask work rights, trade secrets or other intellectual property rights. No license, right or interest in any trademarks of Farora or any third party is granted under this Agreement. Nothing in this Agreement shall affect any rights of Farora or its licensors in the Services or Farora Content, and any associated patents, trademarks, copyrights, mask work rights, trade secrets or other intellectual property rights. No license, right or interest in any trademarks of Farora or any third party is granted under this Agreement.

    %li
      %h3 REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT
      %p At Farora’s invitation, USER may submit reviews, comments, and ratings, send e-mails and other communications; and submit suggestions, ideas, comments, questions, or other information for publication and distribution to Salons/Spas and other third parties, so long as the content is not illegal, threatening, obscene, racist, defamatory, libelous, pornographic, infringing of intellectual property rights, promoting of illegal activity or harm to groups and/or individuals, invasive of privacy, purposely false or otherwise injurious to third parties or objectionable and does not consist of or contain software, computer viruses, commercial solicitation, political campaigning, chain letters, mass mailings, any form of "spam" or references to illegal activity, malpractice, purposeful overcharging, or false advertising. You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of content. Farora reserves the right (but not the obligation) to remove or edit such content, but may not regularly review submitted content

      %p If you do submit material, and unless we indicate otherwise, you grant Farora a nonexclusive, perpetual, royalty-free, irrevocable, and fully sublicensable right to use, modify, reproduce, adapt, translate, publish, create derivative works from, distribute, and display such content throughout the world in any media. You represent and warrant that you own or otherwise control all of the rights to the content that you submit; that the content is accurate; that use of the content you supply does not violate this policy and will not cause injury to any person or entity; and that you will indemnify Farora for all claims resulting from content you supply. Farora has the right but not the obligation to monitor and edit or remove any activity or content, including but not limited to content that violates the standards of this website, as determined by Farora in its sole discretion. Farora takes no responsibility and assumes no liability for any content submitted by you or any third party.

    %li
      %h3 ACCESS AND INTERFERENCE
      %p Much of the information on the Farora Site is updated on a real time basis and is proprietary or licensed to Farora by its Salons/Spas or third parties. By using the Farora Site, you agree not to
      %ul.bulleted
        %li Use any robot, spider, scraper or other automatic device, process or means to access the Farora Site for any purpose without Farora’s express written permission.
        %li Take any action that imposes or may impose (in Farora’s sole discretion) an unreasonable or disproportionately large load on our infrastructure.
        %li Implement any manual processes to monitor or copy Farora Content from the Farora Site without express written permission.
        %li Utilize any device, software or routine that will interfere or attempt to interfere with the functionality of the Farora Site.
        %li You must have JavaScript enabled to use this site. Portions of the Farora Site, including but not limited to: making, modifying or canceling reservations, may not be accessible with JavaScript disabled.

    %li
      %h3 LIABILITY LIMITATIONS
      %p.important IN NO EVENT SHALL FARORA BE LIABLE FOR ANY INJURY, LOSS, CLAIM, DAMAGE OR ANY SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND, WHETHER BASED IN CONTRACT, TORT OR OTHERWISE, WHICH ARISES OUT OF OR IS ANY WAY CONNECTED WITH (I) ANY USE OF THE SERVICES, THE FARORA SITE OR THE FARORA CONTENT, (II) ANY FAILURE OR DELAY (INCLUDING, BUT NOT LIMITED TO, THE USE OR INABILITY TO USE ANY COMPONENT OF THE SERVICES OR THE FARORA SITE FOR RESERVATIONS), OR (III) THE PERFORMANCE OR NON-PERFORMANCE OF ANY SALON AND/OR SPA IN CONNECTION WITH THE SERVICES. IN ADDITION, ALL USERS SPECIFICALLY UNDERSTAND AND AGREE THAT ANY THIRD PARTY DIRECTING USERS TO THE FARORA SITE BY REFERRAL, LINK OR ANY OTHER MEANS IS NOT LIABLE TO USER FOR ANY REASON WHATSOEVER, INCLUDING BUT NOT LIMITED TO DAMAGES OR LOSS ASSOCIATED WITH THE USE OF THE SERVICES, THE FARORA SITE OR THE FARORA CONTENT. FARORA IS NEITHER AN AGENT OF NOR IS CONNECTED WITH ANY AFFILIATED SALON AND OR SPA IN WHICH A USER HAS MADE A RESERVATION. ASIDE FROM THE SERVICES PROVIDED ON THE FARORA SITE. FARORA IS NOT LIABLE FOR ANY INJURY, LOSS, CLAIM, DAMAGE OR ANY SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND, WHETHER BASED IN CONTRACT, TORT OR OTHERWISE, WHICH ARISES OUT OF OR IS IN ANY WAY CONNECTED WITH A USER’S VISIT TO AN AFFILIATED SALON AND OR SPA.

    %li
      %h3 DISCLAIMER OF WARRANTY
      %p.important THE INFORMATION, PROGRAMS, PRODUCTS, AND MATERIALS CONTAINED IN OR ACCESSED ON THE FARORA SITE, INCLUDING, WITHOUT LIMITATION, THE SERVICES AND THE FARORA CONTENT, ARE PROVIDED TO USER ON AN 'AS IS' BASIS AND WITHOUT WARRANTY OF ANY KIND. Farora DISCLAIMS ALL WARRANTIES, EXPRESSED OR IMPLIED, WITH RESPECT TO THE SERVICES, THE FARORA SITE, THE FARORA CONTENT AND RELATED MATERIALS PROVIDED HEREUNDER INCLUDING, WITHOUT LIMITATION, ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR ARISING FROM A COURSE OF DEALING.

    %li
      %h3 LINKS TO THIRD PARTY SITES
      %p The Farora Site may contain hypertext links to Web sites operated by parties other than Farora. Such hypertext links are provided for USER's reference only and Farora does not control such Web sites and is not responsible for their content. Farora's inclusion of any hypertext links to such Web sites does not imply any endorsement of the material on such Web sites or any association with their operators.

    %li
      %h3 SEVERABILITY
      %p If any of the provisions, or portions thereof, of this Agreement are found to be invalid under any applicable statute or rule of law, then, that provision not withstanding, this Agreement shall remain in full force and effect and such provision or portion thereof shall be deemed omitted.

    %li 
      %h3 NO ASSIGNMENT
      %p This Agreement and the rights granted and obligations undertaken hereunder may not be transferred, assigned or delegated in any manner by USER, but may be so transferred, assigned or delegated by Farora.

    %li
      %h3 WAIVER
      %p Any waiver of any provision of this Agreement, or a delay by any party in the enforcement of any right hereunder, shall neither be construed as a continuing waiver nor create an expectation of non-enforcement of that or any other provision or right.

    %li
      %h3 JURISDICTION
      %p This Agreement is made under and shall be governed by and construed in accordance with the laws of State of Massachusetts, U.S.A., without regard to any choice of law provisions. The parties hereby consent to the jurisdiction of the state and federal courts located in Boston, MA.