#why-farora.main
  %h2 Why Farora?
  
  %ul.q-and-a
    %li
      %h3 Welcome to Farora!
      %p We are committed to two things: providing the easiest, most intuitive and powerful web-based. Salon/Spa reservations software; and developing a large community of beauty-obsessed members.
    %li
      %h3 Simple, Intuitive Online Booking
      %p Farora makes your life easier because our members can book their appointments online. They can view their stylists calendar and book their desired time.  We all know how busy salon’s can get and that’s why it’s it makes sense to provide 24/7 online booking for your clients.  After all, who wants to juggle 5 calls from clients trying to schedule appointments.  Your front-end staff can now use their time and energy to attend to your most important clients, the ones in the salon.
    %li
      %h3 Create a Business Profile
      %p Farora is designed to be chic, sophisticated, and timeless.  Create your business profile within the Farora network and use it as a website to showcase your work.  In addition to our profile pages beautiful, they are also Search Engine Optimized.
    %li
      %h3 Manage Client Information
      %p Track your customers information: demographics, hair formulas, and client based reports.  Have a good handle on how to manage your existing clients
    %li
      %h3 Grow your Client List & Keep in Touch with them via the Farora Network
      %p Farora’s main commitment is to grow our online community and wealth of knowledge in the beauty industry.  As the number of users and businesses grow, your opportunity to attract new clients  grows as well.
    %li
      %h3 Email Reminders
      %p Automatically send out email reminders for appointments, rescheduling, and cancellations.
    %li
      %h3 Marketing within the Farora Network
      %p At Farora, we keep you connected. Be able to send out marketing campaigns as messages to all your clients in the Farora network.
    %li
      %h3 Social Networking
      %p Farora members, whether it be users or businesses, have profile pages. Members can view other members favorite Salons/spas, Stylists, Products and more. Businesses can bulk invite their Gmail, AOL, Yahoo, Plaxo, and MS Outlook contacts via our easy to use "+invite" application.
    %li
      %h3 Access and Export Reports
      %p Farora comes with reports which you can use to manage your business. Not finding a particular report that you need? Send us an email and we'll make sure it's added to the reports list.
    %li
      %h3 Information Backup and Security
      %p Rest assured that your information is safe and secure.
    %li
      %h3 Facebook Integration
      %p Users can login with their Facebook profiles. They can share their favorite Salon, Stylists and Products on their Facebook profiles with a click of a button.
    %li
      %h3 No upfront or monthly costs!
      %p Best of all, we charge just a dollar per completed booking. Farora works hard to help your business succeed and only gets paid when you get paid.
