#content
  = render :partial => "projects/idq/lightbox"
  /= render :partial => "projects/idq/content_index"
  /= render :partial => "projects/idq/quiz_index"
  
  /= render :partial => "projects/idq/quiz_landing"
  /= render :partial => "projects/idq/recommended_quizzes"
  /= render :partial => "projects/idq/my_challenges"
  
  /= render :partial => "projects/idq/profile"
  /= render :partial => "projects/idq/about"