#footer 
  %p Lorem ipsum dkjas dakhdlaks halks falskfh alskfha lkfjhas lkfhaslk fhaslkfa slkfha lkfjha klfh af
  
  %p 
    &copy; Copyright 2000-2010 Devex
    |
    = link_to "Terms &amp; Conditions", "/"
    |
    = link_to "Privacy Statement", "/"