
#header
  %p#login-box
    = image_submit_tag("/images/idq/login.png")
    New to IDC?
    = link_to "Sign up now!", "/"
    
  / %p#welcome-message
  /   %strong Welcome, Bob!
  /   |
  /   = link_to "Logout", "/", :class => "uppercase"
      
  %p#sub-heading
    The
    %strong social quiz game
    to increase your knowledge on anything and everything
    %strong International Development