#content
  %h2 Master Mover Product Range
  %p Our core product is a range of compact pedestrian operated, electric tug units, which eliminate manual handling, improve Health & Safety and increase productivity. These machines utilise a patented weight transfer method in order to gain the necessary traction for moving loads from 50kg to 64,000kg. Following a free on-site evaluation and demonstration, MasterMover &reg; will design and propose the best solution to suit each individual application, and also offer full warranty, UK After Sales Service and Flexible Contract Hire options on all machines.This makes MasterMover International Ltd, the most versatile materials handling company available.
  
  #product-list
    .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
      
      .product
      %h3.product-name MasterTug Range &mdash; Move up to 25000 Kgs
      %p.product-description The MasterTug can pull, push and steer wheeled loads from 50 to 25000Kg. Traction is the key to moving heavy loads so the MasterTug is designed to get all the traction it needs by using the coupling system to transfer load weight to the drive wheel. It&rsquo;s very effective and very easy to use making it perfect for any business.
      %img.product-photo
  