#footer 
  %ul
    %li.first= link_to "Download Brochure", "http://mm-ex-admin.matamas.com/pdfs/mmbrochure.pdf"
    %li= link_to "Send Inquiry", "http://mm-ex-admin.matamas.com/uk/contact/"
    %li= link_to "Watch Movie", "http://mm-ex-admin.matamas.com/uk/movie/"
    %li= link_to "Arrange a Free Demo", "http://mm-ex-admin.matamas.com/uk/contact/"
    %li Call us on: +44(0)1335 347700